<div class="container mt-4">
  <div class="d-flex justify-content-end">
    <a routerLink="/policy/create" type="button" class="btn btn-primary"
      >Create Policy</a
    >
  </div>
  <!-- <br /> -->

  <table class="table table-light mt-4 rounded">
    <thead>
      <tr>
        <th scope="col">Policy ID</th>
        <th scope="col">Policy Name</th>
        <th scope="col">Bussiness ID</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="customer-row" *ngFor="let policy of policies">
        <td>{{ policy.id }}</td>
        <td>{{ policy.policyName }}</td>
        <td>{{ policy.businessId }}</td>
        <td>{{ policy.status }}</td>
        <td>
          <button class="btn btn-success">Issue</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
