<section class="container-fluid">
  <section class="container mt-4">
    <div class="row">
      <div class="col">
        <form
          class="form card col-md-10 mx-auto p-4"
          [formGroup]="policyCreateForm"
          (submit)="onSubmit()"
        >
          <h5 class="card-title text-center">Create Policy</h5>

          <div class="mt-3">
            <label for="name" class="form-label">Customer</label>
            <select
              name="customerId"
              aria-label="Default select example"
              class="form-select"
              (change)="onCustomerIdChange($event)"
              formControlName="customerId"
            >
              <option selected>Open To Select Customer</option>
              <option
                *ngFor="let consumer of consumers"
                value="{{ consumer.customerID }}"
              >
                {{ consumer.customerName }}
              </option>
            </select>
          </div>

          <!-- If consumer has any business -->
          <div
            class="border rounded p-2 mt-3"
            *ngIf="!business.isLoading && business.found"
          >
            <div class="">
              <h5>Business Details</h5>

              <div class="border rounded p-1">
                <p>
                  <strong>Business ID</strong>:
                  {{ business.value.businessID }}
                </p>
                <p>
                  <strong>Business Name</strong>:
                  {{ business.value.businessName }}
                </p>
                <p>
                  <strong>Business Value</strong>:
                  {{ business.value.businessValue }}
                </p>
                <p>
                  <strong>Annual Turnover</strong>:
                  {{ business.value.annualTurnover }}
                </p>

                <p>
                  <strong>Total Employees</strong>:
                  {{ business.value.totalEmployees }}
                </p>
              </div>
            </div>
          </div>

          <!-- Alert Box If Business Not Found -->
          <div
            class="alert alert-info mt-3"
            *ngIf="business._isFetchedAtLeastOnce && !business.found"
          >
            <p class="mb-0"><strong>Dear, Consumer</strong></p>
            <p>You don't have any business to create business</p>
            <a class="btn btn-primary" [routerLink]="getBusinessCreateUrl()">
              Create Business
            </a>
          </div>

          <!-- When policies master are found is  -->

          <div
            *ngIf="policiesMaster.length > 0"
            class="mt-3 border rounded p-2"
          >
            <h5>Policies</h5>
            <p class="small">
              <strong>Note:</strong> Click to obtain qoutes value
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th>Assured Sum</th>
                  <th>Base Location</th>
                  <th>Tenure</th>
                  <th>Type</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let policyMaster of policiesMaster"
                  (click)="onSelectPolicyMaster(policyMaster)"
                >
                  <td>{{ policyMaster.assuredSum }}</td>
                  <td>{{ policyMaster.baseLocation }}</td>
                  <td>{{ policyMaster.tenure }}</td>
                  <td>{{ policyMaster.type }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            class="alert alert-info mt-3"
            *ngIf="business.found && policiesMaster.length <= 0"
          >
            <p>No policies master found your business value</p>
            <p><a routerLink="/" class="btn btn-primary">Back</a></p>
          </div>

          <div
            class="border rounded p-2"
            *ngIf="quotes != null && quotes.length >= 0"
          >
            <h5>Please Select One Quotes Value</h5>
            <div class="form-check" *ngFor="let quote of quotes">
              <input
                class="form-check-input"
                type="radio"
                name="quoteValue"
                id="quoteValue"
                (change)="onQuoteSelect(quote)"
              />
              <label class="form-check-label" for="quoteValue">
                {{ quote.quoteValue }}
              </label>
            </div>
          </div>

          <div
            class="alert alert-info mt-3"
            *ngIf="policiesMaster.length > 0 && quotes == null"
          >
            <p>No quotes found for your selected policy</p>
            <p><a routerLink="/" class="btn btn-primary">Back</a></p>
          </div>

          <div class="d-flex justify-content-end mt-3">
            <button
              class="btn btn-primary"
              [disabled]="policyCreateForm.touched && !canCreatePolicy"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
