<div class="row propertyView">
  <h1>Property Details</h1>
  <div class="container p-4" *ngIf="_property!.propertyID == null">
    Hi consumer, <br />
    your Property is not added,Kindly add one.<br />
    <button
      class="btn btn-success mt-2"
      (click)="gotoPropertyInput(businessID)"
    >
      Add Property
    </button>
  </div>
  <div class="container" *ngIf="_property!.propertyID != null">
    <form [formGroup]="updatePropertyForm" (ngSubmit)="updateProperty()">
      <div class="row my-2">
        <div class="col-4" id="label">Property ID</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="propertyID"
            placeholder="{{ _property!.propertyID }}"
            readonly
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Property Type</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="propertyType"
            id="propertyType"
            placeholder="{{ _property!.propertyType }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Address</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="Address"
            id="Address"
            placeholder="{{ _property!.address }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Property Area</div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="propertyArea"
            formControlName="propertyArea"
            placeholder="{{ _property!.areaInSqFt }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Building Storey</div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="buildingStorey"
            formControlName="buildingStorey"
            placeholder="{{ _property!.buildingStorey }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Property Value</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="propertyValue"
            formControlName="propertyValue"
            placeholder="{{ _property!.propertyValue }}"
          />
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
