<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <app-input-text mode="dark" placeholder="Enter Name"></app-input-text>
                </div>

                <div class="form-group mt-2">
                    <label for="dob">DOB</label>
                    <app-input-text mode="dark" type="text" placeholder="28/06/2022"></app-input-text>
                </div>

                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <app-input-text mode="dark" type="email" placeholder="johndoe@example.com">
                    </app-input-text>
                </div>


                <div class="form-group mt-2">
                    <label for="pan">PAN</label>
                    <app-input-text mode="dark" placeholder="ABCTY1234D" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}">
                    </app-input-text>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary" onclick="">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<div *ngIf="loading == true">
  <h1>Loading</h1>
</div>

<div class="container">
  <div *ngIf="loading == false">
    <table class="table table-striped" *ngFor="let todo of todos">
      <tbody>
        <tr>
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
