<div class="row customer-business p-2">
  <div class="container p-6" *ngIf="_business?.message != null">
    <button class="btn btn-success">Add Business</button>
  </div>
  <div class="container" *ngIf="_business?.message == null">
    <form>
      <div class="row my-2">
        <div class="col-4" id="label">Business ID</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="BusinessID"
            value="{{ _business!.businessID }}"
            readonly
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Business type ID</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="businessTypeID"
            value="{{ _business!.businessTypeID }}"
            readonly
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Total Employees</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="totalEmployees"
            value="{{ _business!.totalEmployees }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Annual Turnover</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="annualTurnover"
            value="{{ _business!.annualTurnover }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Annual Turnover</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="businessValue"
            value="{{ _business!.businessValue }}"
          />
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
