<div class="row customer-business p-2">
  <div class="display-6">Business Details</div>
  <div class="container p-6" *ngIf="_business?.message != null">
    Hi consumer, <br />
    your Business is not added,Kindly add one.<br />
    <button class="btn btn-success mt-2" (click)="gotobusinessform(customerID)">
      Add Business
    </button>
  </div>
  <div class="container" *ngIf="_business?.message == null">
    <form>
      <div class="row my-2">
        <div class="col-4" id="label">Business ID</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="BusinessID"
            value="{{ _business!.businessID }}"
            readonly
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Business Type</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="businessTypeID"
            value="{{ _business!.businessType }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Business Name</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="businessName"
            value="{{ _business!.businessName }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Total Employees</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="totalEmployees"
            value="{{ _business!.totalEmployees }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Annual Turnover</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="annualTurnover"
            value="{{ _business!.annualTurnover }}"
          />
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4" id="label">Annual Turnover</div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="businessValue"
            value="{{ _business!.businessValue }}"
          />
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
