.footer {
  font-family: "Roboto";
  font-weight: 600;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.1rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #00000073;
  backdrop-filter: blur(9px);
  color: rgb(255 243 243);
  opacity: 0;
  animation: riseup 350ms ease-in-out 500ms;
  animation-fill-mode: forwards;
}

@keyframes riseup {
  from {
    transform: translate(0, 10px);
  }

  80% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
