#loading {
  --wheelColor: white;
  --rotatingColor: #ddd;
  --size: 20px;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--wheelColor);
  border-radius: 50%;
  border-top-color: var(--rotatingColor);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
