<!-- "customerID": "3fa85f64-5717-4562-b3fc-2c963f66afa6", -->
<!-- "businessTypeID": "3fa85f64-5717-4562-b3fc-2c963f66afa6", -->
<!-- "totalEmployees": 0, -->
<!-- "annualTurnover": 0, -->
<!-- "businessValue": 0 -->

<div class="container col-6 mt-4">
  <div class="display-6">Business Details</div>
  <hr />
  <form class="mt-2">
    <div class="row my-2">
      <div class="col-4" id="label">Customer ID</div>
      <div class="col">
        <input
          formControlName="customerID"
          type="text"
          class="form-control"
          id="customerID"
        />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">business Type ID</div>
      <div class="col">
        <input
          type="text"
          formControlName="businessTypeID"
          class="form-control"
          id="businessTypeID"
        />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Total Employees</div>
      <div class="col">
        <input
          formControlName="totalEmployees"
          type="text"
          class="form-control"
          id="totalEmployees"
        />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Annual Turnover</div>
      <div class="col">
        <input
          formControlName="annualTurnover"
          type="text"
          class="form-control"
          id="annualTurnover"
        />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Business Value</div>
      <div class="col">
        <input
          formControlName="businessValue"
          type="text"
          class="form-control"
          id="businessValue"
        />
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
