<div class="container-fluid mt-1">
  <div class="row">
    <div class="row col-md-6">
      <h1 class="mt-2 text-center">INSURITY PORTAL</h1>
    </div>
    <div class="row col-md-6">
      <div class="container text-center small mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam
        officiis aspernatur ullam illo odio iusto quas qui debitis suscipit
        sunt, est voluptate ea eligendi necessitatibus fugit dolore! Sunt,
        dolore!
      </div>
    </div>
  </div>
</div>
