<div class="container mt-5 col-6 input">
  <div class="display-6 mt-2">Customer Details</div>
  <form
    class="mt-5 p-3"
    [formGroup]="createCustomerForm"
    (ngSubmit)="addnewcustomer()"
  >
    <div class="row my-2">
      <div class="col-4" id="label">Full Name</div>
      <div class="col">
        <input
          formControlName="customerName"
          type="text"
          class="form-control"
          id="customerName"
          placeholder="John Doe"
        />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Date of Birth</div>
      <div class="col">
        <input
          type="date"
          formControlName="dateOfBirth"
          class="form-control"
          id="dateOfBirth"
        />
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Email</div>
      <div class="col">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="Email"
          placeholder="Johndoe@example.com"
        />
      </div>
    </div>

    <div class="row my-2">
      <div class="col-4" id="label">Phone Number</div>
      <div class="col">
        <input
          placeholder="XXX-XXX-XXXX"
          formControlName="phoneNumber"
          type="tel"
          class="form-control"
          id="phoneNumber"
        />
      </div>
    </div>

    <div class="row my-2">
      <div class="col-4" id="label">Pan Details</div>
      <div class="col">
        <input
          formControlName="pan"
          type="string"
          class="form-control"
          id="panDetails"
          placeholder="FFFFF0987G"
          pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
        />
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="isSubmitDisabled"
      >
        Create
      </button>
    </div>
  </form>
</div>
