.table .customer-row {
  background-color: white;
  cursor: pointer;
}

.table .customer-row:hover {
  /* background-color: black; */
  background-color: #eee;
  transition: all 270ms ease;
}

.customer-row td {
  background: none;
}
