<div class="container mt-2">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-light" (click)="onaddcustomer()">
      Add Customer
    </button>
  </div>
  <br />

  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="customer-row"
        *ngFor="let customer of customers.reverse()"
        (click)="onClick(customer.customerID)"
      >
        <td>{{ customer.customerID }}</td>
        <td>{{ customer.customerName }}</td>
        <td>{{ customer.dateOfBirth }}</td>
        <td>{{ customer.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
