<div class="container">
  <form>
    <div class="row my-2">
      <div class="col-4" id="label">Customer ID</div>
      <div class="col">
        <input type="text" class="form-control" id="customerID" value="3f57cc4e-bcd2-4faf-77b7-08da568a60f1" readonly>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Full Name</div>
      <div class="col">
        <input type="text" class="form-control" id="customerName" value="Anjali Sinha">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Date of Birth</div>
      <div class="col">
        <input type="date" class="form-control" id="dateOfBirth" value="">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Email</div>
      <div class="col">
        <input type="email" class="form-control" id="Email" value="Anjali@gmail.com">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-4" id="label">Pan Details</div>
      <div class="col">
        <input type="string" class="form-control" id="panDetails" value="12231231131">
      </div>
    </div>
  </form>
</div>
